# Desktop app
desktop/target/
desktop/node_modules/
desktop/.svelte-kit/
desktop/build/
desktop/gen/

# Web app
web/node_modules/
web/.svelte-kit/
web/.alchemy/

# Root
node_modules/
.env
*.lock
.DS_Store